@font-face {
  font-family: 'SFPro-Display';
  src: url('../fonts/SF-Pro-Display-Regular.woff2'),
    url('../fonts/SF-Pro-Display-Regular.woff');
  font-style: normal;
  font-weight: 400;
  font-display: swap;
}

@font-face {
  font-family: 'SFPro-Display';
  src: url('../fonts/SF-Pro-Display-Semibold.woff2'),
    url('../fonts/SF-Pro-Display-Semibold.woff');
  font-style: normal;
  font-weight: 600;
  font-display: swap;
}