@font-face {
  font-family: 'SFPro-Display';
  src: url('../fonts/SFProDisplay-Regular.woff'),
    url('../fonts/SFProDisplay-Regular.woff2');
  font-style: normal;
  font-weight: 400;
  font-display: swap;
}

@font-face {
  font-family: 'SFPro-Display';
  src: url('../fonts/SFProDisplay-Semibold.woff'),
    url('../fonts/SFProDisplay-Semibold.woff2');
  font-style: normal;
  font-weight: 600;
  font-display: swap;
}